#hand {
    position: relative;
    height: 100%;
}

.hand-card-container {
    position: absolute;
    height: 100%;
    border: 1px solid;
}

.hand-card-container:hover {
    z-index: 1;
    top: -50px;
    height: 120%;
}